*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background{
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzNiYXRjaDEzLTA4Mi1rcHhrOW5nay5qcGc.jpg);
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
display: grid;
place-items: center;
}
.box{
    background: rgba(255, 255, 255, 0.311);
    border-width: 0px 2px 1px 0px;
    border-style: solid;
    border-color: floralwhite;
    box-shadow: 0px 19px 50px rgba(194, 187, 187, 0.728) ;
    border-radius: 20px;
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
#questionForm{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.box h2 {
    font-weight: 900;
    color: rgb(5, 255, 1);
    font-size: 40px;
    line-height: 20px;
    text-shadow: 10px 19px 50px rgba(36, 9, 9, 0.779) ;

}
.box h3 {
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 20px;
}
#answerInput{
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgb(3, 3, 3);
    height: 40px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.primary-btn{
    height: 40px;
    background-color: #00eeff;
    font-size: 30px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.primary-btn:hover{
    background-color: rgb(149, 0, 163);
    border-radius: 50px;
    color: aliceblue;
    height: 50px;
}
@media(max-width:786px){
    .box{
        width: 80%;
        height: 400px;
    }
    .box h2 {
       
        color: rgb(5, 255, 1);
        font-size: 25px;
        line-height: 15px;
        text-shadow: 10px 19px 50px rgba(36, 9, 9, 0.779) ;
    
    }
    .box h3 {

        color: rgb(255, 255, 255);
        font-size: 25px;
        line-height: 15px;
    }
    .primary-btn{
        font-size: 20px;
        height: 25px;
    }
    #answerInput{
        font-size: 20px;
        height: 25px;
    }
}